body{
    height:100%;
    width:100%;
    left:0;
    margin:0;

}

.bodyclass{
    padding-left:10%;
    height:100%;
}

.headerclass{
    margin-left: 0;
    padding-left:0;
}

.submit{
    width:10px;
}

.username{
    color:#e9e9e9;
    cursor: pointer;
    align-content: center;
    font-size:16px; 
    
}

.username:hover{
    color:#fff;
}